<div div id="dungeon" class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-2">
			<div class="fightImage">
				
				<span class="text-center">
					<div class="row hpbars">
						<div ng-model="message" ng-show="showMessage" class="combatMessage fadeout"><h1>{{enemyDmg}}</h1></div>
						<h3>{{user.pokemon.name}}</h3>
						<!--progress id="health" value="{{user.pokemon.curHp}}" max="{{user.pokemon.hp}}"></progress-->
						<div class="bar">
							<div>
								<span>{{user.pokemon.curHp}}/{{user.pokemon.hp}}</span>
								<div class="bar-cur" ng-class="{'health-bar-high': getHpPercentage() > 30, 'health-bar-low': getHpPercentage() <= 30}" ng-style="{'width':getHpPercentage()+'%'}"></div>
							</div>
							<div class="exp-bar-container">
								<span>{{user.pokemon.curExp}}/{{user.pokemon.exp}}</span>
								<div class="bar-cur exp-bar" ng-style="{'width':user.pokemon.curExp/user.pokemon.exp*100+'%'}"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<img ng-class="[myMonsterAni, myState]" class="my-monster fight-monster-image" ng-src="{{user.pokemon.sprite}}" alt="*">
					</div>
				</span>
			</div>
		</div>
		<div class="col-xs-3 col-xs-offset-2">
			<div class="fightImage">
				
				<span class="text-center">
					<div class="row hpbars">
						<div ng-model="message" ng-show="showMessage" class="combatMessage fadeout"><h1>{{yourDmg}}</h1></div>
						<h3>{{challenger.pokemon.name}}</h3>
						<div class="bar">
							<div>
								<span>{{challenger.pokemon.curHp}}/{{challenger.pokemon.hp}}</span>
								<div class="bar-cur" ng-class="{'health-bar-high': getEnemyHpPercentage() > 30, 'health-bar-low': getEnemyHpPercentage() <= 30}" ng-style="{'width': getEnemyHpPercentage()+'%'}"></div>
							</div>
							<div class="exp-bar-container">
								<span>{{challenger.pokemon.curExp}}/{{challenger.pokemon.exp}}</span>
								<div class="bar-cur exp-bar" ng-style="{'width':challenger.pokemon.curExp/challenger.pokemon.exp*100+'%'}"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<img ng-class="[enemyMonsterAni,enemyState]" class="fight-monster-image other-monster" ng-src="{{challenger.pokemon.sprite}}" ng-click="attackEnemy()" alt="">
					</div>
				</span>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 text-center" ng-hide="enemyState=='half_opacity'">
			<button class="btn btn-primary" ng-click="chooseMove('buildUp')">BuildUp</button>
			<button class="btn btn-danger" ng-click="chooseMove('unleash')">Unleash</button>
			<button class="btn btn-warning" ng-click="chooseMove('counter')">Counter</button>
		</div>
		<div class="col-xs-6 col-xs-offset-3 text-center" ng-show="enemyState=='half_opacity'">
			<h2>Waiting for opponent...</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="bubble">
				<p><span class="glyphicon glyphicon-star"> Lvl: {{user.pokemon.lvl}}</span></p>
				<table class="table-progress">
				    <tbody class="table-body"> 
				        <tr>
				            <td><div class="progress-bar progress-combo" ng-style="{left : ((user.combo*10 - 100)+'%')}"></div>BuildUp</td><td>{{user.combo}}</td><td></td><td></td><td></td>
				        </tr>
				        <tr><td>.</td></tr>
				        <tr>
				            <td><div class="progress-bar progress-h" ng-style="{left : ((user.pokemon.attack*0.5 - 100)+'%')}"></div>Attack</td><td>{{user.pokemon.attack}}</td><td></td><td></td><td></td>
				        </tr>
				        <tr>
				            <td><div class="progress-bar progress-c" ng-style="{left : ((user.pokemon.defense*0.5 - 100)+'%')}"></div>Defense</td><td>{{user.pokemon.defense}}</td><td></td><td></td><td></td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-4 col-xs-offset-4">
			<div class="bubble">
				<p><span class="glyphicon glyphicon-star"> Lvl: {{challenger.pokemon.lvl}}</span></p>
				<table class="table-progress">
				    <tbody class="table-body">
				        <tr>
				            <td><div class="progress-bar progress-combo" ng-style="{left : ((challenger.combo*10 - 100)+'%')}"></div>BuildUp</td><td>{{challenger.combo}}</td><td></td><td></td><td></td>
				        </tr>
				        <tr><td>-</td></tr>
				        <tr>
				            <td><div class="progress-bar progress-h" ng-style="{left : ((challenger.pokemon.attack*0.5 - 100)+'%')}"></div>Attack</td><td>{{challenger.pokemon.attack}}</td><td></td><td></td><td></td>
				        </tr>
				        <tr>
				            <td><div class="progress-bar progress-c" ng-style="{left : ((challenger.pokemon.defense*0.5 - 100)+'%')}"></div>Defense</td><td>{{challenger.pokemon.defense}}</td><td></td><td></td><td></td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="tutorial" ng-show="showOutcome">
	<div class="popup-overlay">
		<div class="dungeonOutcome">
			<div ng-if="outcome == 'victory'">
				<h3>You won!</h3>
				<h4>You recieved a {{newItem}} and have proven yourself the strongest.</h4>
				<img class="tutorialItems" src="{{itemImage}}" alt="{{newItem}}">
			</div>
			<div ng-if="outcome == 'defeat'">
				<h3>You lost!</h3>
				<h4>Your companion has fainted and you retreat for now.</h4>
			</div>
			<br>
			<a type="button" class="btn btn-success next-btn" ng-href="#/home" ng-keydown="$event.keyCode == 27"><span class="glyphicon glyphicon-ok"></span></a>
		</div>
	</div>
</div> 