<div class="col-xs-12">
	<div class="title-head rankings-head row">
		<div class="col-xs-12">
			<h3>Rankings</h3>
			<input type="text" ng-model="searchText.name" placeholder="Search for user">
		</div>
	</div>
	<div class="row" id="table-wrapper">
		<div id="table-scroll">
			<table class="table table-hover table-fix">
			  	<thead>
				  	<tr>
					  	<th class="online-col">
					  		<a class="head orderBy" ng-click="sortType = 'online'; sortReverse = !sortReverse" title="Sort by online status">
					  			•
					  			<span ng-show="sortType == 'online' && !sortReverse" class="caret"></span>
				        		<span ng-show="sortType == 'online' && sortReverse" class="caret-up"></span>
				        	</a>
					  	</th>
					    <th>
					    	<a class="head orderBy" ng-click="sortType = 'name'; sortReverse = !sortReverse" title="Sort by user name">
					    		User
					    		<span ng-show="sortType == 'name' && !sortReverse" class="caret"></span>
				        		<span ng-show="sortType == 'name' && sortReverse" class="caret-up"></span>
							</a>
						</th>
					    <th>
					    	<a class="head orderBy" ng-click="sortType = 'pokemon.name'; sortReverse = !sortReverse" title="Sort by monster name">
					    		Monster
					    		<span ng-show="sortType == 'pokemon.name' && !sortReverse" class="caret"></span>
				        		<span ng-show="sortType == 'pokemon.name' && sortReverse" class="caret-up"></span>
							</a>
						</th>
					    <th>
					    	<a class="head orderBy" ng-click="sortType = 'pokemon.lvl'; sortReverse = !sortReverse" title="Sort by level">
					    		Level
					    		<span ng-show="sortType == 'pokemon.lvl' && !sortReverse" class="caret"></span>
				        		<span ng-show="sortType == 'pokemon.lvl' && sortReverse" class="caret-up"></span>
							</a>
						</th>
					    <th>
					    	<a class="head orderBy" ng-click="sortType = 'wins'; sortReverse = !sortReverse" title="Sort by wins">
					    		Wins
					    		<span ng-show="sortType == 'wins' && !sortReverse" class="caret"></span>
				        		<span ng-show="sortType == 'wins' && sortReverse" class="caret-up"></span>
							</a>
						</th>
						<th>
					    	<a class="head orderBy" ng-click="sortType = 'score'; sortReverse = !sortReverse" title="Sort by score">
					    		Score
					    		<span ng-show="sortType == 'score' && !sortReverse" class="caret"></span>
				        		<span ng-show="sortType == 'score' && sortReverse" class="caret-up"></span>
							</a>
						</th>
					</tr>
			  	</thead>
				<tbody>
				 	<tr ng-repeat="(uid,player) in users | orderBy:sortType:sortReverse | filter:searchText" ng-if="uid!=undefined" ng-click="getOtherUser(player.uid)" ng-class="{'list-selected-user':player.uid==routeUid}" class="list-user-row">
					  	<td>
					  		<span ng-class="{'online-dot animated bounceIn':player.online==true, 'offline-dot':player.online==false}" class="login-status-dot" ng-attr-title="{{player.online && 'online' || player.online==false && 'offline'}}"></span>
					  	</td>
					    <td>
					    	<span class="list-user">{{player.name}}</span>
						</td>
					    <td><img style="min-height: 25px; max-height: 30px;"" src="{{player.pokemon.sprite}}" alt=":)">{{player.pokemon.name}}</td> 
					    <td>{{player.pokemon.lvl}}</td>
					    <td>{{player.wins}}</td>
					    <td>{{player.score}}</td>
				 	</tr>
				</tbody>
			</table>
		<div>
		<img src="images/eggspin.gif" alt="Loading..." height="120" class="list-loading" ng-show="loading">
	</div>
</div>