<div id="monster">
	<img ng-src="{{user.pokemon.sprite}}" alt="{{user.pokemon.name}}" class="monsterImage non-select non-drag" ng-class="monsterAni" ng-drop="true" ng-click="hatchEgg()" ng-drop-success="onDropComplete($data,$event)" ng-drag-start="itemDragged=true" ng-drag-stop="itemDragged=false">
	<div ng-if="user.pokemon.isEgg == true" ng-show="status" class="clickMe">
		<img src="images/clickme.png" alt="clickMe">
	</div>
	<div class="reactionImg">
		<img ng-show="reaction && !itemDragged" ng-src="images/{{reactionImage}}" alt=":)">
		<img ng-show="itemDragged" ng-src="images/giveme.png" alt="Give me!">
	</div>
</div>
<ng-include class="row" src="'partials/items.html'"></ng-include>

<div class="popup-overlay" ng-show="showNickname">
	<div class="popup-div" ng-if="user.pokemon.isEgg == true">
		<h1>Your egg is hatching!</h1>
		<img class="monsterImageStatic" ng-src="{{user.pokemon.sprite}}" alt="Egg">
		<h4>What will come out?!</h4>
	</div>
	<div class="popup-div" ng-if="user.pokemon.isEgg == false">
		<span class="create-acc-close close glyphicon glyphicon-remove" ng-click="hideNickname()"></span>
		<h1>Congratulations!</h1>
		<img class="monsterImageStatic" ng-src="{{user.pokemon.sprite}}" alt="Awesome companion">
		<h4>{{user.pokemon.name}} hatched from the egg! Give a nickname to {{user.pokemon.name}}?</h4>
		<form name="createNickname">
			<span ng-hide="showAddNickname">
				<button type="button" class="btn btn-success" ng-click="showAddNickname=true" ng-keydown="$event.keyCode == 27 && hideNickname()" focus-me="showNickname">Yes</button>
		    	<button type="button" class="btn btn-danger" ng-click="hideNickname()">Nah</button>
		    </span>

		    <div ng-show="showAddNickname">
		    	<input type="text" class="form-control login-input" placeholder="Enter name" ng-model="newNickname" name="newNickname" id="newNickname" ng-keypress="$event.keyCode == 13 && addNickname(newNickname)" maxlength="20" focus-me="showAddNickname" required></input>
		    	<a href="#/home" ng-click="hideNickname()">Cancel</a>
		    	<button type="button" class="btn btn-success" ng-click="addNickname(newNickname)">Give nickname!</button>
		    </div>
		</form>
	</div>
</div>

<div class="popup-overlay" ng-show="nicknameSuccess">
	<div class="popup-div">		
		<h4>Your monsters name is now {{user.pokemon.name}}!</h4>
		<button type="button" class="btn btn-success" ng-click="hideNicknameSuccess()" ng-keydown="$event.keyCode == 27 && hideNicknameSuccess()" focus-me="nicknameSuccess">Ok</button>
	</div>
</div>

