<div id="monster">
	<img ng-src="{{user.pokemon.sprite}}" alt="{{user.pokemon.name}}" class="monsterImage" ng-class="monsterAni" ng-drop="true" ng-click="hatchEgg()" ng-drop-success="onDropComplete($data,$event)" ng-mouseenter="status=true" ng-mouseleave="status=false">
	<!-- <div ng-show="status" class="statusBubble">
		<h3>Name: {{user.pokemon.name}}
		<br/><small>MonsterID: {{user.pokemon.id}} </small></h3>
		<div class="row">
			<div class="col-sm-6">
				<h4>Level: {{user.pokemon.lvl}}</h4>
			</div>
			<div class="col-sm-6">
				<h4>Type: <small ng-repeat="type in user.pokemon.types">{{type}} </small></h4>
			</div>
		</div>
	</div> -->
	<div class="reactionImg">
		<img ng-show="reaction" ng-src="images/{{reactionImage}}" alt=":)"></img>
	</div>
</div>
<ng-include class="row" src="'partials/items.html'"></ng-include>

<div class="popup-overlay" ng-show="showNickname">
	<div class="popup-div" ng-if="user.pokemon.isEgg == true">
		<h1>Your egg is hatching! :O</h1>
		<img class="monsterImageStatic" ng-src="{{user.pokemon.sprite}}" alt="Egg">
		<h4>What will come out?!</h4>
	</div>
	<div class="popup-div" ng-if="user.pokemon.isEgg == false">
		<span class="create-acc-close close glyphicon glyphicon-remove" ng-click="hideNickname()"></span>
		<h1>Congratulations!</h1>
		<img class="monsterImageStatic" ng-src="{{user.pokemon.sprite}}" alt="Awesome companion">
		<h4>{{user.pokemon.name}} hatched from the egg! Give a nickname to {{user.pokemon.name}}?</h4>
		<form name="createNickname">
			<button type="button" class="btn btn-success" ng-click="showAddNickname=true" ng-keydown="$event.keyCode == 27 && hideNickname()" focus-me="showNickname">Yes</button>
		    <button type="button" class="btn btn-danger" ng-click="hideNickname()">Nah</button>
		    <br>
		    <div ng-show="showAddNickname">
		    	<input type="text" class="form-control login-input" placeholder="Enter name" ng-model="newNickname" name="newNickname" id="newNickname" ng-keypress="$event.keyCode == 13 && addNickname(newNickname)" maxlength="20" focus-me="showAddNickname" required></input>
		    	<button type="button" class="btn btn-success" ng-click="addNickname(newNickname)">Give nickname!</button>
		    </div>
		</form>
	</div>
</div>

<div class="popup-overlay" ng-show="nicknameSuccess">
	<div class="popup-div">		
		<h4>Your monsters name is now {{user.pokemon.name}}!</h4>
		<button type="button" class="btn btn-success" ng-click="hideNicknameSuccess()" ng-keydown="$event.keyCode == 27 && hideNicknameSuccess()" focus-me="nicknameSuccess">Ok</button>
	</div>
</div>

