<div id="monster" ng-controller="ItemsCtrl">
	<img ng-src="{{user.pokemon.sprite}}" alt="{{user.pokemon.name}}" class="monsterImage" ng-class="monsterAni" ng-drop="true" ng-click="hatchEgg()" ng-drop-success="onDropComplete($data,$event)">
	<div ng-repeat="item in givenItems track by $index">
		<img ng-src="images/{{item.image}}" alt="lel" style="height:25px;display:inline;float:left;background:#f0f;">
	</div>
</div>
<ng-include class="row" src="'partials/items.html'" ng-controller="ItemsCtrl"></ng-include>
