<div id="statusbar">
	<h2>Name: {{user.pokemon.name}}
	<br/><small>MonsterID: {{user.pokemon.id}} </small></h2>
	<div class="row">
		<div class="col-sm-6">
			<h4>Level: {{user.pokemon.lvl}}</h4>
			<h4>Type: <small ng-repeat="type in user.pokemon.types">{{type}} </small></h4>
		</div>
		<div class="col-sm-6">
			<h4>Wins: {{user.wins}}</h4>
			<h4>Losses: {{user.losses}}</h4>
		</div>
	</div>
	<h4>Total Score: </h4>
	<h4>Rank: </h4>
	<div class="row">
		<div class="hpbar">
			<h4>HP</h4>
			<div class="bar">
				<span>{{user.pokemon.curHp}}/{{user.pokemon.hp}}</span>
				<div class="bar-cur health-bar-cur" ng-style="{'width':user.pokemon.curHp/user.pokemon.hp*100+'%'}"></div>
			</div>
		</div>
		<div class="expbar">
			<h4>EXP</h4>
			<div class="bar">
				<span>{{user.pokemon.curExp}}/{{user.pokemon.exp}}</span>
				<div class="bar-cur exp-bar-cur" ng-style="{'width':user.pokemon.curExp/user.pokemon.exp*100+'%'}"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<h4>Stats</h4>
		<div class="col-md-5">
			<div class="alert alert-warning" role="alert">
			  <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
			  Atk: {{user.pokemon.attack}}
			</div>
			<div class="alert alert-info" role="alert">
			  <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
			  Def: {{user.pokemon.defense}}
			</div>
		</div>
		<div class="col-md-7">
			<div class="alert alert-success" role="alert">
			  <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
			  Happiness: {{user.pokemon.happiness}}
			</div>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-sm-6">
			<div id="attack"><h4>{{user.pokemon.abilities[0].name}}</h4></div>
			<div id="attack"><h4>Attack</h4></div>
		</div>
		<div class="col-sm-6">
			<div id="attack"><h4>{{user.pokemon.abilities[1].name}}</h4></div>
			<div id="attack"><h4>Attack</h4></div>
		</div>
	</div>-->
</div>