<div id="statusbar">
	<h3>MonsterID: {{user.pokemon.id}} </h3>
	<h3>Name: {{user.pokemon.name}}</h3>
	<div class="row">
		<div class="col-sm-6">
			<h4>Level: {{user.pokemon.lvl}}</h4>
			<h4>Type: <small ng-repeat="type in user.pokemon.types">{{type}} </small></h4>
		</div>
		<div class="col-sm-6">
			<h4>Wins: {{user.wins}}</h4>
			<h4>Losses: {{user.losses}}</h4>
		</div>
	</div>
	<h4>Total Score: </h4>
	<h4>Rank: </h4>
	<div class="row">
		<div class="hpbar">
			<h4>HP</h4>
			<progress id="health" value="{{user.pokemon.curHp}}" max="{{user.pokemon.hp}}"></progress>
		</div>
		<div id="hp">{{user.pokemon.curHp}}/{{user.pokemon.hp}}</div>
		<div class="expbar">
			<h4>EXP</h4>
			<progress id="expprogress" value="{{user.pokemon.curExp}}" max="{{user.pokemon.exp}}"></progress>
		</div>
		<div id="hp">{{user.pokemon.curExp}}/{{user.pokemon.exp}}</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h4>Attack: {{user.pokemon.attack}}</h4>
			<h4>Defense: {{user.pokemon.defense}}</h4>
		</div>
		<div class="col-sm-6">
			<h4>Happiness: {{user.pokemon.happiness}}</h4>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-sm-6">
			<div id="attack"><h4>{{user.pokemon.abilities[0].name}}</h4></div>
			<div id="attack"><h4>Attack</h4></div>
		</div>
		<div class="col-sm-6">
			<div id="attack"><h4>{{user.pokemon.abilities[1].name}}</h4></div>
			<div id="attack"><h4>Attack</h4></div>
		</div>
	</div>-->
	<div class="btn-group btn-group-lg" role="group" aria-label="...">
		<a ng-href="#/fields/0" id="to-the-gym-btns" class="btn btn-lg btn-success" type="button"><span class="glyphicon glyphicon-leaf"> Fields</a>
		<a ng-href="#/bar" id="toTheBar" class="btn btn-default btn-lg" type="button"><span class="glyphicon glyphicon-glass"></span> Bar</a>
		<a ng-href="#/home" id="toHome" class="btn btn-default btn-lg" type="button"><span class="glyphicon glyphicon-home"></span> Home</a>
	</div>
</div>