<div class="tutorial" ng-show="showTutorial">
	<div class="popup-overlay">
		<div class="tutorial-div">
			<span class="create-acc-close close glyphicon glyphicon-remove" ng-click="endTutorial()"></span> 
			<div ng-show="welcome">
				<h3>Welcome to Egg of Companion, {{user.name}}!</h3>
				<br>
				<h5>My name's Bobby Bobson and I'll be your guide. Since you're new here, want a guided tour?</h5>
				<button type="button" class="btn btn-success start-guide-btn" ng-click="showStepOne()" ng-keydown="$event.keyCode == 27 && hideWelcome()">Yes please!</button>
				<button type="button" class="btn btn-danger end-guide-btn" ng-click="endTutorial()">No thanks</button>
			</div>
			<div ng-show="stepOne">
				<h2>Caring</h2>
				<h5>
					<p>You will soon recieve your very own monster companion. You can take care of it by dragging items to it.</p>
					<p>
						The <img class="tutorialItems" src="images/rarecandy.png" alt="candy"><span class="keyword">Candy</span> raises its level by one, the 
						<img class="tutorialItems" src="images/pokebell.png" alt="bell"><span class="keyword">Bell</span> increases happiness and the 
						<img class="tutorialItems" src="images/potion.png" alt="potion"><span class="keyword">Potion</span> increases HP.
					</p>
				</h5>
				<h5>The items are limited, so use them wisely!</h5>
				<button type="button" class="btn btn-success next-btn" ng-click="showStepTwo()" ng-keydown="$event.keyCode == 27 && showStepTwo()"><span class="glyphicon glyphicon-arrow-right"></span></button>
			</div>
			<div ng-show="stepTwo">
				<h2>Fighting</h2>
				<h5>Fight wild monsters at the <span class="keyword glyphicon glyphicon-leaf">Fields</span> to earn experience and items!</h5>
				<h5>See who is the current master under <span class="keyword glyphicon glyphicon-th-list">Ranks</span>. There you can also <span class="keyword">Challenge</span> people in an online duel or <span class="keyword">Practice</span> with their companion in an offline battle.</h5>
				<h5>If your monster is defeated, it will fade away, so be careful!</h5>
				<button type="button" class="btn btn-danger back-btn" ng-click="showStepOne()"><span class="glyphicon glyphicon-arrow-left"></span></button>
				<button type="button" class="btn btn-success next-btn" ng-click="showStepThree()" ng-keydown="$event.keyCode == 27 && showStepThree()"><span class="glyphicon glyphicon-arrow-right"></span></button>
				<h5></h5>
			</div>
			<div ng-show="stepThree">
				<h2>The Bar</h2>
				<br>
				<h5>Walk around with your monster and interact with other players at the <span class="keyword glyphicon glyphicon-glass">Bar</span>!</h5>
				<button type="button" class="btn btn-danger back-btn" ng-click="showStepTwo()"><span class="glyphicon glyphicon-arrow-left"></span></button>
				<button type="button" class="btn btn-success next-btn" ng-click="showStepFour()" ng-keydown="$event.keyCode == 27 && showStepFour()"><span class="glyphicon glyphicon-arrow-right"></span></button>
			</div>
			<div ng-show="stepFour">
				<h2>Your adventure begins now!</h2>
				<br><br>
				<h4>Click the egg to make it hatch!</h4>
				<button type="button" class="btn btn-danger back-btn" ng-click="showStepThree()"><span class="glyphicon glyphicon-arrow-left"></span></button>
				<button type="button" class="btn btn-success next-btn" ng-click="endTutorial()" ng-keydown="$event.keyCode == 27"><span class="glyphicon glyphicon-ok"></span></button>
			</div>
			<img src="images/guide2.gif" alt="guide" class="guide">
		</div>
	</div>
</div>