<div class="tutorial" ng-show="showTutorial">
	<div class="popup-overlay">
		<div class="tutorial-div"> 
			<div ng-show="welcome">
				<h3>Welcome to Egg of Companion, {{user.name}}!</h3>
				<h5>My name's Steve and I'll be your guide. Since you're new here, want a guided tour?</h5>
				<button type="button" class="btn btn-success" ng-click="hideWelcome()" ng-keydown="$event.keyCode == 27 && hideWelcome()">Yes please!</button>
				<button type="button" class="btn btn-danger" ng-click="showTutorial=false">No thanks</button>
			</div>
			<div ng-show="stepOne">
				<h2>Training</h2>
				<h5>You will soon recieve your very own monster companion. You can train it by dragging the items to it. The <b>candy</b> raises its level by one, the <b>bell</b> increases happiness and the <b>potion</b> increases HP.</h5>
				<h5>The items are limited, so use them wisely! Earn more items by fighting with other monsters.</h5>
				<button type="button" class="btn btn-success" ng-click="hideStepOne()" ng-keydown="$event.keyCode == 27 && hideStepOne()">Next</button>
				<button type="button" class="btn btn-danger" ng-click="showTutorial=false">Skip tour</button>
			</div>
			<div ng-show="stepTwo">
				<h2>Fighting</h2>
				<button type="button" class="btn btn-success" ng-click="" ng-keydown="$event.keyCode == 27">Next</button>
				<button type="button" class="btn btn-danger" ng-click="showTutorial=false">Skip tour</button>
				<h5></h5>
			</div>
			<img src="images/guide.png" alt="guide" class="guide">
		</div>
	</div>
</div>  


	