<div class="title-head row">
	<div class="col-xs-12">
		<h3 class="companion-name">{{otherUser.pokemon.name}}<br><small> Companion of {{otherUser.name}}</small></h3>
	</div>
</div>
<div class="statusbar row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<img ng-if="!otherUser.pokemon.isEgg" ng-src="{{otherUser.pokemon.sprite}}" class="monsterImageStatic" height="120" alt="{{otherUser.pokemon.name}}">
				<img ng-if="otherUser.pokemon.isEgg" ng-src="{{otherUser.pokemon.sprite}}" class="monsterImageStatic egg-image" height="120" alt="{{otherUser.pokemon.name}}">
			</div>
			<div class="col-xs-6">
				<div class="circle-image text-center">
					<span class="fix-inside">{{otherUser.pokemon.lvl}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Online fight button -->
			<div class="col-xs-6">

				<a ng-if="otherUser.online==true && otherUser.uid!=user.uid && otherUser.pokemon.isEgg==false && user.pokemon.isEgg==false && user.challengers.hasOwnProperty(otherUser.uid);" class="btn btn-success" data-tooltip="Go to battle!" ng-href="#/dungeon/{{user.challengers[otherUser.uid].battleID}}"><img src="images/swords.png" height="25"> Battlefield!</a>
				<button ng-if="otherUser.online==true && otherUser.uid!=user.uid && otherUser.pokemon.isEgg==false && user.pokemon.isEgg==false && !user.challengers.hasOwnProperty(otherUser.uid);" class="btn btn-info" data-tooltip="Challenge this user to participate in an online battle of epic proportions!" ng-click="challenge()"><img src="images/swords.png" height="25"> Challenge</button>
				<div ng-if="(otherUser.online==false || otherUser.pokemon.isEgg==true || user.pokemon.isEgg==true) && otherUser.uid!=user.uid" 
				ng-attr-data-tooltip="{{
				((otherUser.pokemon.isEgg==true && user.pokemon.isEgg==true) && 'Egg vs egg, that would be exciting, huh?') || 
				(otherUser.pokemon.isEgg==true && 'Cannot fight an egg, that is not fair.') || 
				(user.pokemon.isEgg==true && 'You have an egg; it cannot fight, silly.') || 
				(otherUser.online==false && 'Cannot challenge someone who is offline, that is not fair.')
				}}">
					<button class="btn btn-info" disabled><img src="images/swords.png" height="25"> Challenge</button>
				</div>
			</div>
			<!-- Offline fight button -->
			<div class="col-xs-6">
				<a ng-if="otherUser.uid!=user.uid && otherUser.pokemon.isEgg==false && user.pokemon.isEgg==false" class="btn btn-danger" data-tooltip="Practice against this user's companion in an offline battle." ng-href="#/fields/{{otherUser.uid}}"><img src="images/sword2.png" height="25"> Practice</a>
				<div ng-if="otherUser.uid!=user.uid && (otherUser.pokemon.isEgg==true || user.pokemon.isEgg==true)" 
				ng-attr-data-tooltip="{{
				((otherUser.pokemon.isEgg==true && user.pokemon.isEgg==true) && 'Egg vs egg, that would be exciting, huh?') || 
				(otherUser.pokemon.isEgg==true && 'Cannot fight an egg, that is not fair.') || 
				(user.pokemon.isEgg==true && 'You have an egg; it cannot fight, silly.')
				}}">
					<a class="btn btn-danger" ng-href="#/fields/{{otherUser.uid}}" disabled><img src="images/sword2.png" height="25"> Practice</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="hpbar">
					<h5>HP</h5>
					<div class="bar">
						<span>{{otherUser.pokemon.curHp}}/{{otherUser.pokemon.hp}}</span>
						<div class="bar-cur" ng-class="{'health-bar-high': otherUser.pokemon.curHp/otherUser.pokemon.hp > 0.3, 'health-bar-low': otherUser.pokemon.curHp/otherUser.pokemon.hp <= 0.3}" ng-style="{'width':otherUser.pokemon.curHp/otherUser.pokemon.hp*100+'%'}"></div>
					</div>
				</div>
				<div class="expbar">
					<h5>EXP</h5>
					<div class="bar">
						<span>{{otherUser.pokemon.curExp}}/{{otherUser.pokemon.exp}}</span>
						<div class="bar-cur exp-bar" ng-style="{'width':otherUser.pokemon.curExp/otherUser.pokemon.exp*100+'%'}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-group">
				 	<li class="list-group-item list-group-item-danger stats-list-item">
				  		<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
						Attack: <strong>{{otherUser.pokemon.attack}}</strong>
					</li>
				  	<li class="list-group-item list-group-item-info stats-list-item">
				  		<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
					 	Defense: <strong>{{otherUser.pokemon.defense}}</strong>
					</li>
					<li class="list-group-item list-group-item-warning stats-list-item">
				  		<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
					  	Speed: <strong>{{otherUser.pokemon.speed}}</strong>
					</li>
					<li class="list-group-item list-group-item-success stats-list-item">
				  		<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
					  	Happiness: <strong>{{otherUser.pokemon.happiness}}</strong>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
