body {
	padding-top: 70px;
}

.error {
	color: #b94a48;
}

/* 
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* Angular */
.navbar-nav>li>.dropdown-menu input.ng-invalid.ng-dirty.ng-touched {
	border: 1px solid #b94a48;
	box-shadow: inset 0px 0px 4px #b94a48;
}

.navbar-nav>li>.dropdown-menu input.ng-valid {
	border: 1px solid green;
	box-shadow: inset 0px 0px 4px green;
}

/* Navbar layout */
.navbar {
	z-index: 100;
	width: 100%;
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	background: rgba(230,40,80,.90);
    box-shadow:	0px 1px 2px rgba(0,0,0,.4);
}

.navbar-brand {
	font-family: 'Coda';
	/* 'Leckerli One' */
	font-size: 35px;
	color: #fff !important;
}

.navbar-text {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 15px;
	font-style: italic;
	color: #eee !important;
}

.navbar-nav>li>.dropdown-menu {
	min-width: 260px;
	padding: 15px;
}

.login-btn, .login-input {
	margin-top: 3px;
	margin-bottom: 3px;
	width: 100%;
}

#logout-btn {
	margin-right: 15px;
}

/* Chat */
#chat {
	float: right;
	background: #ccc;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

/* Shape modifiers */
.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}
/*###*/

#statusbar {
	border-style: solid;
	border-width: 2px;
	font-family: "Coda";
	font-size: 15pt;
}

.hpbar {
	width:100%;
	height:30px;
	background: #ccc;
}

#hp {
	text-align: right;
	font-size: 12pt;
}

.expbar {
	width:100%;
	height:30px;
	background: #ccc;
}

#attack {
	width:100%;
	height:50px;
	background: #FFA500;
	text-align: center;
}

#to-the-gym-btn {
	margin-top:15px;
	background-color:red;
	width:100%;
	height:50px;
}

#monster {
	height: 420px;
	border-style: solid;
	border-width: 2px;
	background-image: url("../images/monsterBackground.png");
	background-size: 800px 420px;
	background-repeat: no-repeat;
}

.monsterImage {
	height:250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

#items {
	border-style: solid;
	border-width: 2px;
	font-family: "Coda";
	font-size: 15pt;
	position: relative;
}