body {
	padding-top: 70px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	width: 6px;
    background-color: #ccc;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
	width: 10px;
    background-color: #aaa;
}

h2 {
	margin: 0;
}

.error {
	color: #b94a48;
}

input[type=email].error, input[type=password].error {
	color: #555;
	border-color: #b94a48;
}

.success {
	color: #30a939;
}

input[type=email].success, input[type=password].success {
	color: #555;
	border-color: #30a939;
}

.login-toast {
	z-index: 100;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.8);
	transition: .3s linear all;
    opacity: .95;
    font-size: 16pt;
}

.login-success {
	background: #30a939;
	color: #fff;
}

.login-error {
	background: #a93039;
	color: #fff;
}

.login-toast.ng-hide {
	opacity: 0;
}

/* 
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* Angular */
.navbar-nav>li>.dropdown-menu input.ng-invalid.ng-dirty.ng-touched {
	border: 1px solid #b94a48;
	box-shadow: inset 0px 0px 4px #b94a48;
}

.navbar-nav>li>.dropdown-menu input.ng-valid {
	border: 1px solid green;
	box-shadow: inset 0px 0px 4px green;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important;
}

/* Navbar layout */
.navbar {
	z-index: 100;
	width: 100%;
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	background: rgba(230,40,80,.90);
    box-shadow:	0px 1px 2px rgba(0,0,0,.4);
}

.navbar-brand {
	font-family: 'Coda';
	/* 'Leckerli One' */
	font-size: 35px;
	color: #fff !important;
}

.navbar-text {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 15px;
	font-style: italic;
	color: #eee !important;
}

.navbar-nav>li>.dropdown-menu {
	min-width: 260px;
	padding: 15px;
}

/* Login */
#login-div {
	width: 40%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.login-btn, .login-input {
	margin-top: 3px;
	margin-bottom: 3px;
}

.login-btn {
	width: 250px;
}

.login-input ~ button {
	width: 30%;
	max-width: 130px;
}

#logout-btn {
	margin-right: 15px;
}

/* Chat */
#chat {
	border: 2px solid;
	background: #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	word-wrap: break-word;
	max-height: 600px;
}

#messages {
	padding-right: 6px;
	overflow-y: scroll;
	word-wrap: break-word;
	max-height: 400px;
}

#messages:hover {
    padding-right: 0;
}

#messages::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#messages:hover::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Shape modifiers */
.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}
/*###*/

#statusbar {
	font-family: "Coda";
	font-size: 15pt;
}

.hpbar {
	width:100%;
	height:30px;
	background: #ccc;
}

#hp {
	text-align: right;
	font-size: 12pt;
}

.expbar {
	width:100%;
	height:30px;
	background: #ccc;
}

#attack {
	width:100%;
	height:50px;
	background: #FFA500;
	text-align: center;
}

#to-the-gym-btn {
	margin-top:15px;
	background-color:red;
	width:100%;
	height:50px;
}

#monster {
	height: 420px;
	border-style: solid;
	border-width: 2px;
	background-image: url("../images/monsterBackground.png");
	background-size: 800px 420px;
	background-repeat: repeat-x;
}

#arena {
	height: 600px;
	background-image: url("../images/monsterBackground.png");
	background-size: 800px 600px;
	background-repeat: repeat-x;
}


.monsterImage {
	height:250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

#yourMonsterImage {

	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

}

.fightImage {

	height:250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;

	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.fightImage:hover {

	margin-top: 200px;


}

#items {
	border-style: solid;
	border-width: 2px;
	font-family: "Coda";
	font-size: 15pt;
	position: relative;
}

#itemImage {
	height:90px;
	padding-left: 60px;
}

/* Draggables */

[ng-drag] [ng-drag-clone]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[ng-drag] {
    margin:0 10px;
    cursor: move;
}
/*ul.draggable-objects:after{
    display: block;
    content:"";
    clear:both;
}
.draggable-objects li{
    float:left;
    display: block;
    width: 120px;
    height:100px;
}*/

[ng-drag].drag-over {
    opacity: 1.0 !important;
}

[ng-drag].dragging{
    opacity: 0.5;
    /*-webkit-filter: grayscale(100%);*/
}

[ng-drop]{
      
}

/*[ng-drop].drag-enter{
	opacity: 1.0;
    border:solid 5px red;
}*/

/*[ng-drop] span.title{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}
/*[ng-drop] div{
    position: relative;
    z-index: 2;
}*/
