/* 
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* Navbar layout */
.navbar {
	z-index: 100;
	width: 100%;
	border: 0;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 0;
	border-radius: 0;
	background: #067c82;
	-webkit-box-shadow:	0px 1px 3px rgba(0, 0, 0, .85);
    -moz-box-shadow:	0px 1px 3px rgba(0, 0, 0, .85);
    box-shadow:			0px 1px 3px rgba(0, 0, 0, .85);
}

.navbar-transparent {
	background: rgba(250,210,40,0.3);
}

.navbar-brand {
	font-family: 'Leckerli One';
	font-size: 35px;
	color: #fff !important;
}

.navbar-text {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 15px;
	font-style: italic;
	color: #e6e6e7 !important;
}

/* Chat */
#chat {
	float: right;
	background: #ccc;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

/* Button layout*/ 
.btn-default {
	color: #e6e6e7;
	background-color: #067c82;
	border-color: #e6e6e7;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #067c82;
	background-color: #e6e6e7;
	border-color: #067c82;
}

/* Shape modifiers */
.no-side-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}
